@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.parent {
  height: auto;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.leftcontent {
  padding: 100px 150px 100px 0;
  display: flex;
  border: 1px solid black;
  height: 400px;
  flex-direction: column;
  justify-content: space-around;
}

.title{
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.heading{
    font-family: serif;
}
.right {
  width: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right .image {
  width: 500px;
  height: 500px;
}
